@keyframes lift-in {
  from {
    translate: 0px 16px;
    opacity: 0;
  }
  to {
    translate: 0px 0px;
    opacity: 1;
  }
}

.num-control {
  display: flex;
  height: 26px;
  position: relative;
  input {
    margin: 0;
    flex-grow: 1;
  }
  label {
    user-select: none;
    width: 70px;
    flex-shrink: 0;
    margin-inline-end: 4px;
    abbr {
      cursor: help;
    }
  }
  span {
    width: 55px;
    user-select: none;
    flex-shrink: 0;
    text-align: end;
  }
}

.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
  &:hover::after {
    content: attr(data-tooltip);
    animation: 0.2s lift-in;
    position: absolute;
    background-color: black;
    padding: 8px;
    z-index: 20;
    border-radius: 8px;
    bottom: 30px;
    inset-inline-start: 0;
  }
}
