@keyframes liftIn {
  0% {
    opacity: 0;
    translate: 0 100px;
  }
  100% {
    opacity: 1;
    translate: 0 0px;
  }
}

.app {
  padding: 60px;
  height: 100vh;
  height: 100dvh;
  --edge-opacity: calc(var(--intensity) * 0.003);
  --sheen-offset: max(calc(var(--bevel) / 2), 3px);
}

.bulb {
  cursor: grab;
  width: 30px;
  height: 30px;
  background: radial-gradient(
      rgba(200, 200, 200, calc(1 - var(--intensity) * 0.01)),
      rgba(200, 200, 200, calc(1 - var(--intensity) * 0.01))
    ),
    radial-gradient(white, rgb(255, 230, 157));
  box-shadow: 0px 0px 35px rgba(255, 237, 203, calc(var(--intensity) * 0.015));
  position: absolute;
  translate: -5px -15px;
  border-radius: 100px;
  transition: scale 0.2s;
  &:hover {
    scale: 1.15;
  }
  &:active {
    cursor: grabbing;
  }
}

.code {
  max-height: 50vh;
  overflow: auto;
  .property {
    color: rgb(226, 169, 0);
  }
  .comment {
    color: rgb(3, 170, 0);
  }
  .variable {
    color: rgb(57, 167, 241);
  }
  .indented {
    padding-left: 20px;
  }
  .indented2 {
    padding-left: 40px;
  }
}

.code,
.controls {
  background-color: #22222299;
  padding: 16px 20px;
  border-radius: 20px;
  flex-basis: 400px;
  flex-shrink: 1;
  min-width: 300px;
}

.colors {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 8px;
  > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    input {
      width: 100%;
      height: 32px;
      position: relative;
      padding: 0;
      border-width: 0;
      border-radius: 4px;
      &::before {
        content: attr(data-title);
        color: var(--color);
        z-index: 9;
        position: absolute;
        top: 0;
        bottom: 0;
        display: grid;
        place-items: center;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }
    }
  }
  button {
    padding: 0;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
  }
}

.container {
  aspect-ratio: 1;
  width: 400px;
  height: 400px;
  display: grid;
  border-radius: 100%;
  place-items: center;
  border: 3px solid transparent;
  position: relative;
  transition: border 0.3s;
  &:hover {
    border-color: bisque;
  }
}

.controls {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.light {
  position: absolute;
  width: 20px;
  top: 0;
  bottom: 0;
}

.logo {
  select {
    font-size: 24px;
    z-index: 5;
    border-radius: 8px;
    padding: 4px 8px;
  }
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 5;
  position: relative;
  padding: 0 20px;
  background-blend-mode: soft-light;

  --height: 70px;
  --radius: 12px;

  --sin: calc(sin(var(--angle)));
  --sin-90: calc(sin(var(--angle) + 90deg));
  --sin-180: calc(sin(var(--angle) + 180deg));
  --sin-270: calc(sin(var(--angle) + 270deg));
  --x-displacement: calc(var(--height) * var(--sin-180) * 0.01 * var(--elevation));
  --y-displacement: calc(var(--height) * var(--sin-90) * 0.01 * var(--elevation));

  border-radius: var(--radius);
  height: var(--height);

  box-shadow: calc(var(--x-displacement) * -1) calc(var(--y-displacement) * -1) calc(var(--height) * 2.5)
      rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    var(--x-displacement) var(--y-displacement) calc(var(--height) * 0.02 * var(--elevation)) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    inset calc(var(--bevel) * -1) 0 var(--bevel) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--bevel) hsla(100, 0%, calc((var(--sin-90) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--bevel) hsla(100, 0%, calc((var(--sin-180) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--bevel) hsla(100, 0%, calc((var(--sin-270) + 1) * 50%), var(--edge-opacity));

  &.skeuo {
    &::before {
      content: "";
      position: absolute;
      bottom: var(--sheen-offset);
      top: var(--sheen-offset);
      right: var(--sheen-offset);
      left: var(--sheen-offset);
      border-radius: var(--radius);
      background: linear-gradient(
        var(--angle),
        hsla(0, 0%, 0%, calc(var(--intensity) / 550)),
        hsla(0, 0%, 100%, 0) 40%,
        hsla(0, 0%, 100%, 0) 60%,
        hsla(0, 0%, 100%, calc(var(--intensity) / 150))
      );
    }
  }
}

.glass {
  background-color: color-mix(in srgb, var(--color) var(--opacity), transparent calc(100% - var(--opacity)));
  backdrop-filter: blur(var(--blurriness));
  &::before {
    content: "";
    position: absolute;
    bottom: var(--bevel);
    top: var(--bevel);
    left: var(--bevel);
    right: var(--bevel);
    border-radius: var(--radius);
    background: linear-gradient(var(--angle), hsla(0, 0%, 100%, 0) 40%, hsla(0, 0%, 100%, calc(var(--intensity) / 350)));
  }
}

.main {
  display: flex;
  gap: 24px;
}

.neu,
.skeuo {
  background: linear-gradient(
      var(--angle),
      rgba(0, 0, 0, calc(var(--intensity) * 0.002)),
      rgba(255, 255, 255, calc(var(--intensity) * 0.002))
    ),
    var(--color);
}

.target {
  --sin: calc(sin(var(--angle)));
  --sin-90: calc(sin(var(--angle) + 90deg));
  --sin-180: calc(sin(var(--angle) + 180deg));
  --sin-270: calc(sin(var(--angle) + 270deg));
  --x-displacement: calc(var(--size) * var(--sin-180) * 0.01 * var(--elevation));
  --y-displacement: calc(var(--size) * var(--sin-90) * 0.01 * var(--elevation));

  aspect-ratio: 1;
  position: relative;
  background-blend-mode: soft-light;

  width: var(--size);
  border-radius: var(--radius);

  box-shadow: calc(var(--x-displacement) * -1) calc(var(--y-displacement) * -1) calc(var(--size) * 2.5)
      rgba(255, 255, 255, calc(var(--intensity) * 0.004)),
    var(--x-displacement) var(--y-displacement) calc(var(--size) * 0.02 * var(--elevation)) rgba(0, 0, 0, calc(var(--intensity) * 0.006)),
    inset calc(var(--bevel) * -1) 0 var(--bevel) hsla(100, 0%, calc((var(--sin) + 1) * 50%), var(--edge-opacity)),
    inset 0 var(--bevel) var(--bevel) hsla(100, 0%, calc((var(--sin-90) + 1) * 50%), var(--edge-opacity)),
    inset var(--bevel) 0 var(--bevel) hsla(100, 0%, calc((var(--sin-180) + 1) * 50%), var(--edge-opacity)),
    inset 0 calc(var(--bevel) * -1) var(--bevel) hsla(100, 0%, calc((var(--sin-270) + 1) * 50%), var(--edge-opacity));

  &.skeuo {
    &::before {
      content: "";
      position: absolute;
      bottom: var(--sheen-offset);
      top: var(--sheen-offset);
      right: var(--sheen-offset);
      left: var(--sheen-offset);
      border-radius: var(--radius);
      background: linear-gradient(
        var(--angle),
        hsla(0, 0%, 0%, calc(var(--intensity) / 550)),
        hsla(0, 0%, 100%, 0) 40%,
        hsla(0, 0%, 100%, 0) 60%,
        hsla(0, 0%, 100%, calc(var(--intensity) / 150))
      );
    }
  }
}

.text {
  position: absolute;
  animation: liftIn 0.4s ease-in-out;
  user-drag: none;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  padding: 40px;
  text-align: center;
  font-style: italic;
  user-select: none;
  font-size: 18px;
}
