:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --breakpoint: 1150px;
  --animation-speed: 0.3s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  opacity: 0.6;
}

button {
  padding: 0;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
  border: 1px solid #777;
  transition: all 0.2s;
  user-select: none;
}

button:hover {
  background-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.animated {
  transition: all var(--animation-speed);
}

/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
.hljs {
  color: #f8f8f2;
}
/* Comment */
.hljs-comment,
.hljs-quote {
  color: #00d664;
}
/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a;
}
/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35;
}
/* Yellow */
.hljs-attribute {
  color: #ffd700;
}
/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338;
}
/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0;
}
/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
