:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  opacity: 0.6;
}

button {
  padding: 0;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: white;
  border: 1px solid #777;
  transition: all 0.2s;
}

button:hover {
  background-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
